h1{
	padding-top: 1em;
	padding-bottom: 1em;
	text-align:center;
	font-family:cursive;
	color: blue;
	
}

p{ 
	color: red;
		
}

h3{ 
	color:orange;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align:center;
	font-family: cursive;
	
}

.container-footer{
	position:absolute;
	bottom:0;
	width:100%
}
