


h1{
	padding-top: 1em;
	padding-bottom: 1em;
	text-align:center;
	font-family:cursive;
	color: blue;
	
}

p{ 
	color: red;
		
}


h3{ 
	color:orange;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align:center;
	font-family: cursive;
	
}

.navbar-text{
	text-align:center;    /*Anileacion del texto respecto del ancho de la caja */
	font-weight:bold;	  /*Formato del texto */
}

.navbar-brand{
    text-align:center;    /*Anileacion del texto respecto del ancho de la caja */
	font-weight:bold;	  /*Formato del texto */	
}

