<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <header th:insert="/layouts/header::header"> </header>
      <img src="../static/images/progresar.jpg" alt="progresar" title="progresar">
    <section>
			<table>
				<tr>
					<th>Codigo</th>
					<th>Curos</th>
					<th>Fecha apertura</th>
					<th>Fecha cierre</th>
				</tr>
				<tr  th:each="b: ${becas}">
						<td th:text="${b.codigo}"></td>
						<td th:text="${b.curso.titulo}"></td>
						<td th:text="${b.fechaApertura}"></td>
						<td th:text="${b.fechaCierre}"></td>
				</tr>
			</table>
    </section>
    <footer th:insert="/layouts/footer::footer"> </footer><br>
  </body>
</html>