 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>
    <header th:replace="/layouts/header::header"></header>
      <img src="../static/images/logo.jpg" alt="logo" title="Logo">
    <section>
      <h2>Cursos con inscripción abierta</h2>

    </section>
       
    <footer th:replace="/layouts/footer::footer"></footer>
    
    
  <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
