<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro Becas</title>
</head>
<body>
	<header th:replace="/layouts/header::header"></header>
	<section class="d-flex justify-content-center">
		<div class="card col-sm-4 p-4">
			<div class="mb-4">
				<h3 class="text-primary">Alta de Beca</h3>
			</div>
			<div class="mb-3">
				<form th:action="@{/Beca/guardar}" method="POST" th:object="${beca}">

					<div class="col-md-10">
						<label for="inputAddress">Codigo</label> <input th:field="*{codigo}" type="number"
							class="form-control" id="inputCodigo"
							placeholder="Ingrese Codigo">
					</div>
					<div class="col-md-10">
						<label for="inputAddress">Titulo</label> <input th:field="*{curso.titulo}" type="text"
							class="form-control" id="inputTitulo"
							placeholder="Ingrese Titulo">
					</div>
					<div class="col-md-10">
						<label for="inputNombre">Fecha Apertura</label> <input th:field="*{fechaApertura}" th:value="*{fechaApertura}"type="date"
							class="form-control" id="inputFechaApertura" placeholder="Ingrese Fecha Apertura">
					</div>
					<div class="col-md-10">
						<label for="inputEmail">Fecha Cierre</label> <input th:field="*{fechaCierre}" th:value="*{fechaCierre}" type="date"
							class="form-control" id="inputFechaCiere"
							placeholder="Ingrese Fecha Cierre">
					</div>
					<br>
					<div class="d-grid gap-2 d-md-flex justify-content-md-start">
						<button class="btn btn-success" type="submit">Enviar</button>
						<a th:href="@{/inicio}" id="cancel" class="btn btn-danger">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</section>
	<footer th:replace="/layouts/footer::footer"></footer>
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js"
		type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
</body>
</html>